/* --------------- reset.css --------------- */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* обнуляем отступы и убираем бордюры */
  vertical-align: baseline;
  /* приводим все к одной базовой линии */
  background: transparent;
  /* чтобы не проскакивали левые фоны, установленные по умолчанию */
  font-size: 14px;
  /* размер шрифта всем одинаковый */
}

h1 {
  border-bottom: 1px solid #CC3333;
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #CC3333;
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  border-top: 1px solid #CC3333;
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
}

a {
  /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
  margin: 0;
  padding: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

table {
  /* устраняем отступы между ячейками таблицы */
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top;
  /* возвращаем привычное вертикальное выравнивание */
}

input,
select,
button,
textarea {
  margin: 0;
  /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
  font-size: 14px;
  /* делаем размер шрифтов везде одинаковым */
  outline: none;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 0;
  /* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] {
  /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

html {
  min-height: 100%;
  /* всегда показываем вертикальную полосу прокрутки  */
}

body {
  color: #000;
  text-align: left;
  font-size: 14px;
  /* используем безопасные шрифтовые CSS стеки */
  min-height: 100%;
}

a,
a:visited {
  /* порядок правил для ссылок имеет значение */
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus,
a:active {
  color: #000;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

.clr {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/* --------------- /базовые настройки ---------*/

@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.skdslider {
  width: 100%;
  height: 800px;
  position: relative;
  top: 0;
  display: block;
  overflow: hidden;
}

.skdslider .slide-navs {
  width: 100%;
  bottom: 10px;
  left: 0;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.skdslider .slide-navs li {
  display: inline-block;
  background: white;
  height: 15px;
  width: 15px;
  margin: 0px 6px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.skdslider .slide-navs .current-slide {
  background: rgba(255, 255, 255, 0.6);
}

.skdslider .slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skdslider .slides li {
  display: none;
  position: relative;
}

.skdslider .slides li img {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1200px) {
  .skdslider {
    height: 600px;
  }
}

@media screen and (max-width: 1120px) {
  .skdslider {
    height: 550px;
  }
}

@media screen and (max-width: 875px) {
  .skdslider {
    height: 500px;
  }
}

@media screen and (max-width: 759px) {
  .skdslider {
    height: 400px;
  }
}

@media screen and (max-width: 580px) {
  .skdslider {
    height: 230px;
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -30px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '❮';
  padding: 0 6px 0 5px;
}

[dir='rtl'] .slick-prev:before {
  content: '❮';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '❯';
  padding: 0 5px 0 6px;
}

[dir='rtl'] .slick-next:before {
  content: '❯';
}

/* Settings */

@font-face {
  font-family: Astakhov;
  src: url("../fonts/Astakhov.ttf");
}

@-webkit-keyframes fade-logo {
  0% {
    opacity: .3;
  }

  25% {
    opacity: .8;
  }

  50% {
    opacity: .3;
  }

  75% {
    opacity: .8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-logo {
  0% {
    opacity: .3;
  }

  25% {
    opacity: .8;
  }

  50% {
    opacity: .3;
  }

  75% {
    opacity: .8;
  }

  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
  font-family: Astakhov;
  font-size: .875em;
  letter-spacing: 1px;
}

.wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alignCenter {
  margin: 0 auto;
}

/* -- onload -- */

#load {
  z-index: 2000;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  /* -- show blocks -- */
}

#load img {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 0 0 -70px;
  width: 140px;
  -webkit-animation: fade-logo 5s ease;
  animation: fade-logo 5s ease;
}

.hide {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* -- header hideing -- */

.cd-auto-hide-header {
  position: fixed;
  -webkit-transform: translateZ(0);
  -webkit-transform-transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* -- icons -- */

.ic {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5px;
}

.ic .ic-vk {
  background: url("../img/icons/vk24w.png") 0 0 no-repeat;
  height: 25px;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 25px;
}

.ic .ic-vk:hover {
  background: url("../img/icons/vk24c.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ic .ic-inst {
  background: url("../img/icons/inst24w.png") 0 0 no-repeat;
  height: 25px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 25px;
}

.ic .ic-inst:hover {
  background: url("../img/icons/inst24c.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ic .ic-vk-b {
  background: url("../img/icons/vk32b.png") 0 0 no-repeat;
  height: 32px;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 32px;
}

.ic .ic-vk-b:hover {
  background: url("../img/icons/vk32c.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ic .ic-inst-b {
  background: url("../img/icons/inst32b.png") 0 0 no-repeat;
  height: 32px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 32px;
}

.ic .ic-inst-b:hover {
  background: url("../img/icons/inst32c.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ic .ic-vk-w {
  background: url("../img/icons/vk32w.png") 0 0 no-repeat;
  height: 32px;
  margin-right: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 32px;
}

.ic .ic-vk-w:hover {
  background: url("../img/icons/vk32c.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ic .ic-inst-w {
  background: url("../img/icons/inst32w.png") 0 0 no-repeat;
  height: 32px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 32px;
}

.ic .ic-inst-w:hover {
  background: url("../img/icons/inst32c.png") 0 0 no-repeat;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* -- slider -- */

.slider {
  width: 95%;
}

.slider .master {
  background: #fff;
  border: 1px solid #CC3333;
  padding: 5px;
}

.slider .master img {
  border: 1px solid #CC3333;
}

.slider .master-name {
  color: #CC3333;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.slider .master-skill {
  color: #202125;
  font-size: 18px;
  text-align: center;
}

.slider .master hr {
  width: 80%;
}

.slick-slide {
  margin: 0px 40px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  font-weight: bold;
  /*	-- Header	--  */
}

.btn {
  background: #202125;
  border: 1px solid #CC3333;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
}

.btn:hover {
  border: 1px solid #CC3333;
  background: #fff;
  color: #CC3333;
  cursor: pointer;
}

.header {
  background: white;
  padding: 10px 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
  z-index: 1000;
}

.header button {
  position: fixed;
  right: 50px;
  top: 150px;
}

.header.sticky {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

/* -- Logo -- */

.logo {
  -webkit-box-flex: .1;
  -ms-flex: .1;
  flex: .1;
}

.logo img {
  height: 80px;
  width: 80px;
}

/* -- Navigation -- */

.nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: .6;
  -ms-flex: .6;
  flex: .6;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.nav li {
  list-style: none;
  margin-left: 25px;
  text-transform: uppercase;
  color: #202125;
}

.nav li a {
  padding: 40px 0;
}

.nav li a:hover {
  border-bottom: 3px solid #CC3333;
  box-sizing: border-box;
  color: #CC3333;
}

.nav li a:first-child {
  margin-left: 0;
}

.nav label {
  border: 1px solid #fff;
  cursor: pointer;
  display: none;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav label:hover {
  color: #202125;
  border: 1px solid #CC3333;
}

.nav input[type="checkbox"] {
  display: none;
}

/* -- Contact -- */

.contact {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: .17;
  -ms-flex: .17;
  flex: .17;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact p {
  color: #202125;
}

.contact span {
  margin: 5px 13px 0 0;
}

.contact .alignCenter {
  margin: 4px 34px;
}

/* -- slide-show -- */

.inSlider img {
  position: relative;
  z-index: -1;
}

.inSlider p {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #CC3333;
  font-size: 36px;
  padding: 20px;
  z-index: 1;
}

.inSlider .firstP {
  position: absolute;
  top: 200px;
  left: 400px;
}

.inSlider .secondP {
  position: absolute;
  top: 450px;
  left: 250px;
}

.inSlider .thirdP {
  position: absolute;
  top: 200px;
  left: 600px;
}

/* -- Price -- */

.pricesAll {
  background: #202125;
  padding: 50px 0;
}

.pricesAll .wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.pricesAll .price {
  -webkit-box-flex: .6;
  -ms-flex: .6;
  flex: .6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.pricesAll .price .prices {
  border-bottom: 1px solid #CC3333;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pricesAll .price .prices p {
  font-size: 24px;
}

.pricesAll .logo {
  background: #fff;
  border-radius: 60%;
  -webkit-box-flex: .15;
  -ms-flex: .15;
  flex: .15;
  margin-top: 150px;
  margin-right: 50px;
  padding: 5px;
}

.pricesAll .logo img {
  height: 170px;
  width: 170px;
}

/* -- Days -- */

.days {
  background: url("../img/week.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 30px 0;
}

.days .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.days .wrapper > h2 {
  -webkit-box-flex: .4;
  -ms-flex: .4;
  flex: .4;
}

.days .wrapper .week {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 30px;
}

.days .wrapper .week .day {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border: 1px solid #CC3333;
  -webkit-box-flex: .15;
  -ms-flex: .15;
  flex: .15;
  height: 115px;
  margin-right: 25px;
  width: 115px;
}

.days .wrapper .week .day:last-child {
  margin-right: 0;
}

.days .wrapper .week .day p {
  color: #202125;
  font-size: 16px;
  margin-top: 33px;
  text-align: center;
}

.days .wrapper .week .day p:last-child {
  margin: 0;
}

.days .wrapper .week .weekend {
  background: rgba(204, 51, 51, 0.6);
}

.days .wrapper .week .weekend p {
  color: #fff;
}

/* -- Team -- */

.team {
  background: #202125;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 30px 0;
}

.team .wrapper > h2 {
  -webkit-box-flex: .2;
  -ms-flex: .2;
  flex: .2;
}

.team .wrapper .slider {
  margin: 40px auto;
}

/* -- About Us -- */

.about {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 30px 0;
}

.about .wrapper > h2 {
  color: #202125;
  -webkit-box-flex: .1;
  -ms-flex: .1;
  flex: .1;
}

.about .wrapper .aboutUs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about .wrapper .aboutUs .descr {
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8;
}

.about .wrapper .aboutUs .descr p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.about .wrapper .aboutUs .video {
  -webkit-box-flex: .2;
  -ms-flex: .2;
  flex: .2;
  margin: 20px;
}

/* -- Team -- */

.teamPhoto {
  background: url("../img/team.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 50px 0;
}

.teamPhoto .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 300px;
}

/* -- e-com -- */

.e-com {
  background: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 30px 0;
}

.e-com .wrapper > h2 {
  color: #202125;
  -webkit-box-flex: .13;
  -ms-flex: .13;
  flex: .13;
}

.e-com .wrapper .slider {
  margin: 40px auto;
}

.e-com .wrapper .slider .product-name {
  color: #202125;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.e-com .wrapper .slider .product-price {
  color: #CC3333;
  font-size: 16px;
  text-align: center;
}

/* -- contacts -- */

.contacts {
  background: #202125;
  padding: 30px 0;
}

.contacts .wrapper .contact {
  -webkit-box-flex: .4;
  -ms-flex: .4;
  flex: .4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.contacts .wrapper .contact > h2 {
  -webkit-box-flex: .1;
  -ms-flex: .1;
  flex: .1;
  margin: 20px auto;
}

.contacts .wrapper .contact .logo {
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.contacts .wrapper .contact .logo img {
  height: 120px;
  width: 120px;
}

.contacts .wrapper .contact .address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.contacts .wrapper .contact p {
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.contacts .wrapper .contact .ic {
  background: url("../img/icons/vk32w.png") 0 0 no-repeat;
}

.contacts .wrapper #map {
  -webkit-box-flex: .5;
  -ms-flex: .5;
  flex: .5;
  height: 350px;
}

/* -- footer -- */

.footer {
  background: #CC3333;
  padding: 15px 0;
}

.footer .wrapper p {
  color: #fff;
  font-size: 14px;
}

.footer .wrapper p a {
  font-size: 14px;
}

.footer .wrapper p a:hover {
  color: #202125;
  font-size: 14px;
}

/* Media Screens  */

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1100px;
  }

  .nav li {
    margin-left: 15px;
  }

  .contact {
    -webkit-box-flex: .15;
    -ms-flex: .15;
    flex: .15;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .inSlider .secondP {
    position: absolute;
    top: 350px;
    left: 250px;
  }

  .inSlider .thirdP {
    position: absolute;
    top: 150px;
    left: 350px;
  }

  .pricesAll .logo {
    -webkit-box-flex: .135;
    -ms-flex: .135;
    flex: .135;
    padding: 5px;
  }

  .pricesAll .logo img {
    height: 145px;
  }

  .wrapper .slider {
    width: 90%;
  }

  .wrapper .slider img {
    width: 400px;
  }

  .wrapper .slider .master-name {
    font-size: 18px;
  }

  .e-com .wrapper .slider .product-name {
    font-size: 18px;
  }

  .contacts .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1120px) {
  #load img {
    top: 30%;
  }

  h2 {
    font-size: 24px;
  }

  * .btn {
    font-size: 20px;
  }

  .wrapper {
    max-width: 900px;
  }

  .nav {
    -webkit-box-flex: .7;
    -ms-flex: .7;
    flex: .7;
  }

  .nav ul li {
    margin-left: 10px;
  }

  .inSlider p {
    font-size: 24px;
  }

  .inSlider .firstP {
    position: absolute;
    left: 200px;
  }

  .inSlider .secondP {
    position: absolute;
    top: 350px;
    left: 300px;
  }

  .inSlider .thirdP {
    position: absolute;
    top: 250px;
    left: 620px;
  }

  .pricesAll .price {
    -webkit-box-flex: .7;
    -ms-flex: .7;
    flex: .7;
  }

  .pricesAll .price .prices p {
    font-size: 18px;
  }

  .pricesAll .logo {
    -webkit-box-flex: .14;
    -ms-flex: .14;
    flex: .14;
  }

  .pricesAll .logo img {
    height: 120px;
  }

  .days .wrapper .week .day {
    width: 110px;
    height: 110px;
  }

  .days .wrapper .week .day p {
    font-size: 15px;
  }

  .wrapper .slider {
    width: 100%;
  }

  .wrapper .slider img {
    width: 400px;
  }

  .wrapper .slider .master-name {
    font-size: 16px;
  }

  .e-com .wrapper .slider .product-name {
    font-size: 16px;
  }

  .about .wrapper .aboutUs .descr h1 {
    font-size: 30px;
  }

  .about .wrapper .aboutUs .descr h3 {
    font-size: 20px;
  }

  .about .wrapper .aboutUs .descr p {
    font-size: 16px;
  }

  .about iframe {
    width: 400px;
    height: 226px;
  }

  .contacts .wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contacts .wrapper h2 {
    font-size: 22px;
  }

  .contacts .wrapper .contact p {
    font-size: 16px;
  }

  .footer .wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 945px) {
  .pricesAll .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 875px) {
  h2 {
    font-size: 20px;
  }

  .header {
    padding: 0;
  }

  .header .wrapper {
    max-width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .header .wrapper .logo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header .wrapper .nav {
    -webkit-box-flex: .7;
    -ms-flex: .7;
    flex: .7;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 10px 0;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .header .wrapper .nav li a {
    padding: 8px 0;
  }

  .header .wrapper .contact {
    display: none;
  }

  .inSlider p {
    font-size: 20px;
  }

  .inSlider .firstP {
    position: absolute;
    top: 200px;
    left: 200px;
  }

  .inSlider .secondP {
    position: absolute;
    top: 350px;
    left: 50px;
  }

  .inSlider .thirdP {
    position: absolute;
    top: 300px;
    left: 400px;
  }

  .pricesAll .price {
    width: 100%;
  }

  .pricesAll .price .prices {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #CC3333;
    margin-top: 20px;
  }

  .pricesAll .price .prices p {
    font-size: 20px;
  }

  .pricesAll .logo {
    display: none;
  }

  .days .wrapper .week .day {
    width: 100px;
    height: 100px;
    border-radius: 55px;
    margin: 0 auto 20px;
  }

  .days .wrapper .week .day p {
    font-size: 13px;
    margin: 30px 0 0 0;
  }

  .wrapper .slider {
    width: 100%;
  }

  .wrapper .slider img {
    width: 400px;
  }

  .wrapper .slider .master-name {
    font-size: 14px;
  }

  .wrapper .slider .master-skill {
    font-size: 14px;
  }

  .e-com .wrapper .slider .product-name {
    font-size: 14px;
  }

  .e-com .wrapper .slider .product-price {
    font-size: 14px;
  }

  .teamPhoto {
    padding: 20px 0;
  }

  .teamPhoto .wrapper {
    min-height: 250px;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .about .wrapper .aboutUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0 20px;
  }

  .about .wrapper .aboutUs .descr h1 {
    font-size: 30px;
  }

  .about .wrapper .aboutUs .descr h3 {
    font-size: 20px;
  }

  .about .wrapper .aboutUs .descr p {
    font-size: 16px;
  }

  .about .wrapper .aboutUs iframe {
    width: 500px;
    height: 282px;
  }

  .contacts .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .contacts .wrapper h2 {
    font-size: 20px;
  }

  .contacts .wrapper .contact p {
    font-size: 14px;
  }

  .contacts .wrapper #map {
    margin: 10px 0 0 0;
    height: 350px;
    width: 90%;
  }

  .footer .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 769px) {
  #load img {
    top: 20%;
  }

  .wrapper {
    max-width: 680px;
  }

  .header .btn {
    display: none;
  }

  .header .logo {
    display: none;
  }

  .header .nav {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .header .nav ul {
    border: 1px solid #CC3333;
  }

  .header .nav ul li {
    border-bottom: 1px solid #CC3333;
    margin: 0;
    width: 500px;
  }

  .header .nav ul li:hover {
    background: #202125;
  }

  .header .nav ul li:last-child {
    border-bottom: none;
  }

  .header .nav ul li a {
    margin-left: 10px;
    display: block;
  }

  .header .nav ul li:hover a {
    border-bottom: none;
    font-weight: bold;
  }

  .header .nav label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .header .nav > ul {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    -webkit-transition: max-height 500ms, opacity 1000ms;
    transition: max-height 500ms, opacity 1000ms;
    background: #fff;
  }

  .header .nav input[type="checkbox"]:checked ~ label + ul {
    max-height: 500px;
    opacity: 1;
    -webkit-transition: max-height 0, opacity 300ms;
    transition: max-height 0, opacity 300ms;
  }

  .inSlider {
    margin: 0;
  }

  .inSlider p {
    font-size: 20px;
  }

  .inSlider .firstP {
    position: absolute;
    top: 100px;
    left: 200px;
  }

  .inSlider .secondP {
    position: absolute;
    top: 250px;
    left: 50px;
  }

  .inSlider .thirdP {
    position: absolute;
    top: 200px;
    left: 300px;
  }

  .pricesAll .price .wrapper .prices p {
    font-size: 18px;
  }

  .days .wrapper > h2 {
    max-height: 35px;
  }

  .days .wrapper .week {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }

  .days .wrapper .week .day {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    margin-bottom: 20px;
  }

  .days .wrapper .week .day:last-child {
    margin-bottom: 0;
  }

  .days .wrapper .week .day p {
    font-size: 16px;
  }

  .team .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .team .wrapper .slider {
    width: 65%;
  }

  .team .wrapper .slider img {
    max-width: 100%;
  }

  .team .wrapper .slider .master-name {
    font-size: 16px;
  }

  .team .wrapper .slider .master-skill {
    font-size: 16px;
  }

  .e-com .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .e-com .wrapper .slider {
    width: 65%;
  }

  .e-com .wrapper .slider .product-name {
    font-size: 16px;
  }

  .e-com .wrapper .slider .product-price {
    font-size: 16px;
  }

  .about .wrapper .aboutUs {
    margin: 10px 0;
  }
}

@media screen and (max-width: 580px) {
  #load img {
    top: 10%;
  }

  .wrapper {
    max-width: 480px;
  }

  .wrapper .logo {
    display: none;
  }

  .header .nav ul li {
    width: 350px;
  }

  .inSlider p {
    font-size: 16px;
  }

  .inSlider .firstP {
    position: absolute;
    top: 100px;
    left: 50px;
  }

  .inSlider .secondP {
    position: absolute;
    top: 130px;
    left: 50px;
  }

  .inSlider .thirdP {
    position: absolute;
    top: 130px;
    left: 180px;
  }

  .pricesAll .price {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .pricesAll .price .wrapper .prices p {
    font-size: 18px;
  }

  .team .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .team .wrapper .slider {
    width: 85%;
  }

  .team .wrapper .slider img {
    max-width: 100%;
  }

  .team .wrapper .slider .master-name {
    font-size: 16px;
  }

  .team .wrapper .slider .master-skill {
    font-size: 16px;
  }

  .e-com .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .e-com .wrapper .slider {
    width: 85%;
  }

  .e-com .wrapper .slider .product-name {
    font-size: 16px;
  }

  .e-com .wrapper .slider .product-price {
    font-size: 16px;
  }

  .about .wrapper h2 {
    -webkit-box-flex: .2;
    -ms-flex: .2;
    flex: .2;
  }

  .about .wrapper .aboutUs .descr {
    -webkit-box-flex: .6;
    -ms-flex: .6;
    flex: .6;
  }

  .about .wrapper .aboutUs .descr h1 {
    font-size: 24px;
  }

  .about .wrapper .aboutUs .descr p {
    -webkit-box-flex: .6;
    -ms-flex: .6;
    flex: .6;
    font-size: 14px;
  }

  .about .wrapper .aboutUs iframe {
    width: 400px;
    height: 226px;
  }

  .contacts .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .contacts .wrapper .contact h2 {
    font-size: 18px;
    margin: 0;
  }

  .contacts .wrapper .contact p {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }

  .contacts .wrapper #map {
    margin: 10px 0 0 0;
    height: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #load img {
    top: 10%;
  }

  .header {
    padding: 0;
  }

  .header button {
    right: 20px;
    top: 70px;
  }

  .wrapper {
    max-width: 350px;
  }

  .wrapper .logo {
    display: none;
  }

  .nav {
    margin: 0;
  }

  .header .nav ul li {
    width: 300px;
  }

  .pricesAll .price {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .pricesAll .price .prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }

  .pricesAll .price .prices p {
    font-size: 14px;
  }

  .days .wrapper .week .day {
    width: 110px;
    height: 110px;
  }

  .days .wrapper .week .day p {
    font-size: 14px;
    margin-top: 35px;
  }

  .team .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .team .wrapper .slider {
    width: 100%;
  }

  .team .wrapper .slider img {
    max-width: 100%;
  }

  .team .wrapper .slider .master-name {
    font-size: 14px;
  }

  .team .wrapper .slider .master-skill {
    font-size: 12px;
  }

  .e-com .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .e-com .wrapper .slider {
    width: 100%;
  }

  .e-com .wrapper .slider .product-name {
    font-size: 14px;
  }

  .e-com .wrapper .slider .product-price {
    font-size: 14px;
  }

  .about .wrapper h2 {
    -webkit-box-flex: .2;
    -ms-flex: .2;
    flex: .2;
  }

  .about .wrapper .aboutUs .descr {
    -webkit-box-flex: .6;
    -ms-flex: .6;
    flex: .6;
  }

  .about .wrapper .aboutUs .descr h1 {
    font-size: 24px;
  }

  .about .wrapper .aboutUs .descr p {
    -webkit-box-flex: .6;
    -ms-flex: .6;
    flex: .6;
    font-size: 14px;
    margin: 5px 0;
  }

  .about .wrapper .aboutUs iframe {
    width: 300px;
    height: 170px;
  }

  .about .wrapper .aboutUs .descr {
    -webkit-box-flex: .6;
    -ms-flex: .6;
    flex: .6;
  }

  .about .wrapper .aboutUs .descr h1 {
    font-size: 20px;
  }

  .about .wrapper .aboutUs .descr p {
    -webkit-box-flex: .6;
    -ms-flex: .6;
    flex: .6;
    font-size: 14px;
  }

  .about .wrapper .aboutUs .descr h3 {
    font-size: 16px;
  }

  .about .wrapper .aboutUs iframe {
    display: none;
  }

  .teamPhoto .wrapper {
    min-height: 200px;
  }

  .footer {
    padding: 10px 0;
  }

  .footer .wrapper p {
    font-size: 12px;
  }

  .footer .wrapper p a {
    font-size: 12px;
  }

  .footer .wrapper p a:hover {
    font-size: 12px;
  }
}